<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.persistence.repository.LuggageTariffRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO luggage_tariffs (hand_luggage_price, register_luggage_price)
        VALUES (#{handLuggagePrice}, #{registerLuggagePrice})
    </insert>
    <resultMap id="LuggageTariffMap" type="com.laba.solvd.domain.LuggageTariff" autoMapping="false">
        <id property="id" column="id"/>
        <result property="handLuggagePrice" column="hand_luggage_price"/>
        <result property="registerLuggagePrice" column="register_luggage_price"/>
    </resultMap>
</mapper>