<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/PassportMapper.xml"/>
        <mapper resource="mappers/PassengerMapper.xml"/>
        <mapper resource="mappers/AirlineHasFlightMapper.xml"/>
        <mapper resource="mappers/LuggageTariffMapper.xml"/>
        <mapper resource="mappers/AirlineMapper.xml"/>
        <mapper resource="mappers/DepartureMapper.xml"/>
        <mapper resource="mappers/ArrivalMapper.xml"/>
        <mapper resource="mappers/AirportMapper.xml"/>
        <mapper resource="mappers/PlaneTypeMapper.xml"/>
        <mapper resource="mappers/TariffMapper.xml"/>
        <mapper resource="mappers/FlightMapper.xml"/>
        <mapper resource="mappers/TicketMapper.xml"/>
    </mappers>
</configuration>